
<div class="fix-header fix-sidebar">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
<!-- Main wrapper  -->
<div id="main-wrapper">
    <!-- header header  -->
    <div class="header is_stuck">
      <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- Logo -->
        <div class="navbar-header">
          <a class="navbar-brand" href="admin/home/index">
            <!-- Logo icon -->
            <b><img src="./../../assets/ElaAdmin/images/logo.png" alt="homepage" class="dark-logo" /></b>
            <!--End Logo icon -->
            <!-- Logo text -->
            <span><img src="./../../assets/ElaAdmin/images/logo-text.png" alt="homepage" class="dark-logo" /></span>
          </a>
        </div>
        <!-- End Logo -->
        <div class="navbar-collapse">
          <!-- toggle and nav items -->
          <ul class="navbar-nav mr-auto mt-md-0">
            <!-- This is  -->
            <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i
                  class="mdi mdi-menu"></i></a> </li>
            <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i
                  class="ti-menu"></i></a> </li>
  
          </ul>
          <!-- User profile and search -->
          <ul class="navbar-nav my-lg-0">
  
            <!-- Search -->
            <li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted  " href="javascript:void(0)"><i
                  class="ti-search"></i></a>
              <form class="app-search">
                <input type="text" class="form-control" placeholder="Search here"> <a class="srh-btn"><i class="ti-close"></i></a>
              </form>
            </li>
  
            <!-- Messages -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-muted " href="#" id="2" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"> <i class="fa fa-envelope"></i>
                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
              </a>
              <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn" aria-labelledby="2">
                <ul>
                  <li>
                    <div class="drop-title">Bạn có {{annoucements.length}} thông báo mới</div>
                  </li>
                  <li>
                    <div class="message-center">
                      <!-- Message -->
                      <a href="#" *ngFor="let item of annoucements|orderBy:'CreatedDate':'-'" (click)="markAsRead(item.ID)">
                        <div class="user-img"> <img [src]="baseFolder + item.AppUser.Avatar" alt="user" class="img-circle">
                          <span class="profile-status online pull-right"></span>
                        </div>
                        <div class="mail-contnet">
                          <h5>{{item.AppUser.FullName}}</h5> <span class="mail-desc">{{item.Content}}</span> <span class="time">{{item.CreatedDate}}</span>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li>
                    <a class="nav-link text-center" href="javascript:void(0);"> <strong>Xem tất cả</strong> <i class="fa fa-angle-right"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <!-- End Messages -->
            <!-- Profile -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><img src="{{baseFolder+user.avatar}}" alt="user" class="profile-pic" /></a>
              <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                <ul class="dropdown-user">
                  <li><a href="javascript:void(0)"><i class="ti-user"></i> Thông tin tài khoản</a></li>
                  <li><a href="javascript:void(0)"><i class="ti-settings"></i> Đổi mật khẩu</a></li>
                  <li><a href="javascript:void(0)"><i class="fa fa-power-off" (click)="logout"></i> Logout</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- End header header -->
    <!-- Left Sidebar  -->
    <div class="left-sidebar">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <li class="nav-devider"></li>
  
            <li class="nav-label">Danh Mục</li>
            <li> <a class="has-arrow" href="javascript:void(0);" aria-expanded="false"><i class="fa fa-cog"></i><span class="hide-menu">Hệ
                  thống</span></a>
              <ul aria-expanded="false" class="collapse">
                <li><a routerLink="/admin/role/index" routerLinkActive="active">Nhóm</a></li>
                <li><a routerLink="/admin/function/index" routerLinkActive="active">Chức năng</a></li>
                <li><a routerLink="/admin/user/index" routerLinkActive="active">Người dùng</a></li>
                <li><a routerLink="/admin/activity/index" routerLinkActive="active">Nhật ký</a></li>
                <li><a routerLink="/admin/annoucement/index">Thông báo</a></li>
                <li><a routerLink="/admin/setting/index" routerLinkActive="active">Cấu hình</a></li>
              </ul>
            </li>
            <li> <a class="has-arrow" href="javascript:void(0);" aria-expanded="false"><i class="fa fa-product-hunt "></i><span class="hide-menu">Sản
                  phẩm</span></a>
              <ul aria-expanded="false" class="collapse">
                <li><a routerLink="/admin/product-category/index" routerLinkActive="active">Danh mục</a></li>
                <li><a routerLink="/admin/product/index" routerLinkActive="active">Sản phẩm</a></li>
                <li><a routerLink="/admin/order/index" routerLinkActive="active">Hóa đơn</a></li>
              </ul>
            </li>
            <li> <a class="has-arrow" href="javascript:void(0);" aria-expanded="false"><i class="fa fa-flag"></i><span class="hide-menu">Báo
                  cáo</span></a>
              <ul aria-expanded="false" class="collapse">
                <li><a routerLink="/admin/report/revenue">Xuất báo cáo doanh thu</a></li>
                <li><a routerLink="/admin/visitor/index">Xuất báo cáo truy cập</a></li>
                <li><a routerLink="/admin/reader/index">Xuất báo cáo độc giả</a></li>
              </ul>
            </li>
  
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </div>
    <!-- End Left Sidebar  -->
    <!-- Page wrapper  -->
    <div class="page-wrapper">
      <router-outlet></router-outlet>
  
      <!-- footer -->
      <footer class="footer"> © GDO 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a></footer>
      <!-- End footer -->
    </div>
    <!-- End Page wrapper  -->
  </div>
</div>
