<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h3 class="text-primary">Danh mục sản phẩm</h3>
  </div>
  <div class="col-md-7 align-self-center">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin/home/index">Trang chủ</a></li>
      <li class="breadcrumb-item active">Danh mục sản phẩm</li>
    </ol>
  </div>
</div>
<div class="container-fluid">
  <!-- Start Page Content -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="dt-buttons">
            <button type="button" (click)="showAdd()" class="btn btn-info btn-flat btn-addon"><i class="ti-plus"></i>
              Thêm mới</button>
          </div>
          <div id="myTable_filter" class="dataTables_filter"><label>Tìm Kiếm:<input type="text" class="" name="filter"
                (keyup.enter)="search()" [(ngModel)]="filter"></label></div>
          <div class="x_content">
            <tree-root #treeProductCategory [nodes]="_productCategoryHierachy">
              <ng-template #treeNodeTemplate let-node let-index="index">
                <p style="font-size: 15px;display: inline-flex; ;transform: translateY(-2px);">{{ node.data.Name }}</p>&nbsp;
                <button class="btn btn-xs btn-primary" (click)="showEdit(node.data.ID)"> <i class="fa fa-pencil-square-o"
                    aria-hidden="true"></i></button>
                <button class="btn btn-xs btn-danger" (click)="delete(node.data.ID)"><i class="fa fa-trash" aria-hidden="true"></i></button>
              </ng-template>
            </tree-root>
          </div>
        </div>
      </div>
    </div>
    <!-- /# column -->
  </div>
  <!-- /# row -->
  <!-- End PAge Content -->
</div>


<div bsModal #addEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Thêm mới / Chỉnh sửa</h4>
        <button type="button" class="close pull-right" (click)="addEditModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left input_mask" novalidate #addEditForm="ngForm" (ngSubmit)="saveChanges(addEditForm.valid)"
          *ngIf="entity">
          <div class="form-group">
            <div class="row m-b-10 m-l-5">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <label>Tên</label>
                <input type="hidden" [(ngModel)]="entity.ID" name="id" />
                <input type="text" #name="ngModel" (keypress)="createAlias()" [(ngModel)]="entity.Name" required
                  minlength="3" name="name" class="form-control" />
                <small [hidden]="name.valid || (name.pristine && !addEditForm.submitted)" class="text-danger">
                  Bạn phải nhập tên ít nhất 3 ký tự
                </small>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <label>Alias</label>
                <input type="text" #alias="ngModel" [(ngModel)]="entity.Alias" required minlength="3" name="alias"
                  class="form-control" />
                <small [hidden]="alias.valid || (alias.pristine && !addEditForm.submitted)" class="text-danger">
                  Bạn phải nhập alias
                </small>
              </div>
            </div>
            <div class="row m-b-10 m-l-5">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <label>Mô tả</label>
                <textarea type="text" #name="ngModel" [(ngModel)]="entity.Description" name="description" class="form-control"></textarea>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <label>Thứ tự</label>
                <input type="number" #displayOrder="ngModel" [(ngModel)]="entity.DisplayOrder" required name="displayOrder"
                  class="form-control" />
                <small [hidden]="displayOrder.valid || (displayOrder.pristine && !addEditForm.submitted)" class="text-danger">
                  Bạn phải nhập thứ tự
                </small>
              </div>
            </div>
            <div class="row m-b-10 m-l-5">

              <div class="col-md-6 col-sm-6 col-xs-12">
                <label>Hình ảnh</label>
                <input type="file" #image name="image" class="form-control">
                <p class="help-block label label-danger"> chỉ hỗ trợ định dạng *.png, *.jpg, *.jpeg </p>
                <input type="hidden" [(ngModel)]="entity.Image" name="image" />
              </div>

              <div class="col-md-6 col-sm-12 col-xs-12" *ngIf="entity.Image">
                <img [src]="entity.Image" width="128" />
              </div>
            </div>
            <div class="row m-b-10 m-l-5">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <label>Thứ tự trang chủ</label>
                <input type="number" #homeOrder="ngModel" [(ngModel)]="entity.HomeOrder" required name="homeOrder"
                  class="form-control" />
                <small [hidden]="homeOrder.valid || (displayOrder.pristine && !addEditForm.submitted)" class="text-danger">
                  Bạn phải nhập thứ tự
                </small>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <label>Chức năng cha</label>
                <select class="form-control" name="parentId" [(ngModel)]="entity.ParentID">
                  <option value="">--Chọn chức năng cha--</option>
                  <option *ngFor="let x of _productCategories" [value]="x.ID">{{x.Name}}</option>
                </select>
                <input type="hidden" [(ngModel)]="entity.ParentID" name="parentId" class="form-control" />
              </div>
            </div>
            <div class="row m-b-10 m-l-5">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <label>Từ khóa</label>
                    <input type="text" #metaKeyword="ngModel" [(ngModel)]="entity.MetaKeyword" name="keyword" class="form-control" />
      
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <label>Trạng thái</label>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" [(ngModel)]="entity.Status" name="status" #status="ngModel"> Kích hoạt
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" [(ngModel)]="entity.HomeFlag" name="homeFlag" #status="ngModel"> Hiển thị
                          trang chủ
                        </label>
                      </div>
                    </div>
            </div>
            
          </div>

          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
              <button type="button" (click)="addEditModal.hide()" class="btn btn-primary">Hủy bỏ</button>
              <button type="submit" class="btn btn-success pull-right" [disabled]="!addEditForm.form.valid">Cập nhật</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>