<div style="display:inline-flex">
  <div class="khoi-bai6">
      <div class="mattrang"></div>
      <div class="matden">
          text inside
      </div>
      <div class="xanh"></div>
  </div>

  <div class="khoi-bai6">
      <div class="mattrang"></div>
      <div class="matden">
          text inside
      </div>
      <div class="xanh"></div>
  </div>

  <div class="khoi-bai6">
      <div class="mattrang"></div>
      <div class="matden">
          text inside
      </div>
      <div class="xanh"></div>
  </div>
</div>
<br /><br />
<div style="display:inline-flex">
  <div class="example1">
      <div class="user text-center">
          <img src="./../../src/assetsHome/images/lophoc4.jpg" />
          <h4 class="">Chris Topher</h4>
          <i class="vitri">Dev Web</i>

      </div>
      <div class="info">
          <h4 class="name">Chris Topher</h4>
          <i class="vitri">Dev Web</i>
          <p class="desc">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
          </p>
      </div>
  </div>
  <div class="example1">
      <div class="user text-center">
          <img src="./../../src/assetsHome/images/lophoc4.jpg" />
          <h4 class="">Chris Topher</h4>
          <i class="vitri">Dev Web</i>

      </div>
      <div class="info">
          <h4 class="name">Chris Topher</h4>
          <i class="vitri">Dev Web</i>
          <p class="desc">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
          </p>
      </div>
  </div>
  <div class="example1">
      <div class="user text-center">
          <img src="./../../src/assetsHome/images/lophoc4.jpg" />
          <h4 class="">Chris Topher</h4>
          <i class="vitri">Dev Web</i>

      </div>
      <div class="info">
          <h4 class="name">Chris Topher</h4>
          <i class="vitri">Dev Web</i>
          <p class="desc">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
          </p>
      </div>
  </div>
</div>
<br /><br />
<div style="display:inline-flex;height:522px">
  <div class="example2">
      <div class="nuttab">
          <ul>
              <li >
                  <b class="btn btn-outline-info"><i class="fa fa-heart"></i> PTS</b>
              </li>
              <li class="ex2-active">
                  <b class="btn btn-outline-info"><i class="fa fa-gamepad"></i> HTML/CSS</b>
              </li>
              <li>
                  <b class="btn btn-outline-info"><i class="fa fa-check-circle"></i> JQS</b>
              </li>
              <li>
                  <b class="btn btn-outline-info"><i class="fa fa-feed"></i> Dynamic</b>
              </li>
          </ul>
      </div>
      <div class="ctab">
          <ul>
              <li >
                  <div class="content">
                      <img src="./../../src/assetsHome/images/logo.png" class="float-xl-left" />
                      <p>
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                      </p>
                  </div>         
              </li>
              <li class="show-ex2">
                  <div class="content">
                      <img src="./../../src/assetsHome/images/cauhoi.jpg" class="float-xl-left" />
                      <p>
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                      </p>
                  </div>
              </li>
              <li>
                  <div class="content">
                      <img src="./../../src/assetsHome/images/about.jpg" class="float-xl-left" />
                      <p>
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                      </p>
                  </div>
              </li>
              <li>
                  <div class="content">
                      <img src="./../../src/assetsHome/images/about2.jpg" class="float-xl-left" />
                      <p>
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                      </p>
                  </div>
              </li>
          </ul>
      </div>
  </div>

</div>
<br /><br />
<div style="display:inline-flex">
  <div class="example3">
      <div class="include">
          <div class="slideanh">
              <img src="./../../src/assetsHome/images/qc.jpg" />
              <img src="./../../src/assetsHome/images/qc2.jpg" />
              <img src="./../../src/assetsHome/images/qc3.jpg" />
          </div>
          <div class="dieuhuong">
              <span class="ntrai"><i class="fa fa-chevron-left"></i></span>
              <span class="nphai"><i class="fa fa-chevron-right"></i></span>
          </div>
          <div class="tienich">
              <span class="quickview"><i class="fa fa-eye"></i> View</span>
              <span class="lish"><i class="fa fa-heart"></i> List</span>
          </div>
      </div>
      <div class="bottom text-center">
          <a class="tensp">Fashion summer 2018</a>
          <div class="gia">$99</div>
      </div>
  </div>
  <div class="example3">
      <div class="include">
          <div class="slideanh">
              <img src="./../../src/assetsHome/images/qc2.jpg" />
              <img src="./../../src/assetsHome/images/qc.jpg" />
              <img src="./../../src/assetsHome/images/qc3.jpg" />
          </div>
          <div class="dieuhuong">
              <span class="ntrai"><i class="fa fa-chevron-left"></i></span>
              <span class="nphai"><i class="fa fa-chevron-right"></i></span>
          </div>
          <div class="tienich">
              <span class="quickview"><i class="fa fa-eye"></i> View</span>
              <span class="lish"><i class="fa fa-heart"></i> List</span>
          </div>
      </div>
      <div class="bottom text-center">
          <a class="tensp">Fashion summer 2018</a>
          <div class="gia">$99</div>
      </div>

  </div>
  <div class="popup">
      <i class="fa fa-close nclose"></i>
      <img class="popimg" src="" />
  </div>
  <div class="den"></div>

  </div>