/* You can add global styles to this file, and also import other style files */
.fixbut{
    position: absolute !important;
    top: 6px;
    left: 22px;
}
.fixselect .dropdown-menu{
    display: inline-grid !important;
    padding: 5px 10px;
    font-size: 14px;
}
.fixselect .input-group-prepend span i{
    display: none !important;
}

.pagination{
    padding-top: 10px;
    float: right;
}    
.modal-header .close {
    font-size: 20px;
    margin-right: -10px;
    margin-top: -13px;
}
.preloader {
    background: #ffffff8c;
}
.page-wrapper{
    min-height: 800px;
}
textarea {
    resize: auto;
}